body {
  position: relative;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
}
header {
  height: 75px;
  z-index: 2;
}
header div {
  width: 960px;
  margin: 0 auto;
}
header li {
  display: inline-block;
  float: right;
  margin-top: 30px;
  margin-right: 25px;
  font-size: 20px;
  color: #E1E9F4;
}
header li a {
  color: #E1E9F4;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 400;
  transition: 350ms all;
}
header li a:hover {
  color: #779DC2;
}
header li:first-child {
  float: left;
  font-size: 40px;
  margin-top: 15px;
  font-family: Lobster;
}
main {
  z-index: 0;
}
.column-1 {
  display: inline-block;
  width: 32%;
  float: left;
  height: 50px;
  z-index: -99;
}
/* found opacity tricks from https://css-tricks.com/almanac/properties/o/opacity/ */
.transparent-div {
  display: inline-block;
  color: #000000; background: rgba(255, 255, 255, 0.8);
  height: auto;
  width: 33%;
  margin-top: 10%;
  padding: 40px 10px;
  z-index: 100;
}
.column-2 {
  display: inline-block;
  width: 32%;
  float: right;
  height: 50px;
  z-index: -99;
}
.transparent-div p {
  font-family: Raleway;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
#main-button {
  background-color: rgba(36,62,90,1);
  border: none;
  color: #FFF;
  font-family: Raleway;
  font-size: 20px;
  padding: 15px 15px;
  width: 70%;
  margin: 0% 15%;
}
/*
footer {
  clear:both;
  background-color: #243E5A;
  height: 75px;
}
footer div {
  width: 960px;
  margin: 0 auto;
}*/
/* Find Hike Form */
form {
  width: 700px;
  margin: 10px auto;
  font-family: Raleway;
}
label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}
input {
  margin: 10px 0px 20px 10px;
}
span {
  margin-left: 5px;
}
form button {
  border: none;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0px;
  color: #243E5A;
  background-color: #E1E9F4;
}
/* Hike Results */
#list-hike {
  margin-top: 15px;
  margin-bottom: 15px;
}
li a {
  text-decoration: none;
  color: #243E5A;
  transition: 350ms all;
}
li a:hover {
color: #779DC2;
}
.hike-list-li {
  margin-top: 10px;
  font-family: Raleway;
}
li span {
  font-weight:bold;
}
/* About Us */
.personal-photo {
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.about-us {
  background-color: #E1E9F4;
}

.bios {
  font-family: Raleway;
  position: absolute;
  left: 375px;
  margin-top: -110px;
}
